# shellcheck shell=bash

# Use nix-direnv
# https://github.com/nix-community/nix-direnv
# Ensures that flake.nix gets evaluated.
use flake

export PATH="$PWD/scripts:$PWD/node_modules/.bin:$PATH"
export HF_HUB_ENABLE_HF_TRANSFER=1 # Faster downloads

# Load variables from .env
dotenv
